html,
body {
    height: 100%;
}

.app {
    background-color: #E0DFDE;
}

/* ヘッダー */
.header {
    display: grid;
    padding: 10px 0; 
    height: 80px;
    border: 1px solid #E0DFDE;
    font-family: serif;
    background-color: white;
    margin-bottom: 50px;
    text-decoration: none;
    color: inherit;
    
}

.header__heading {
    width: 200px;
    height: 33px;
    font-family: 'jsMath-cmti10';
    font-style: italic;
    font-weight: 500;
    font-size: 30px;
    line-height: 33px;
    color: #F5C800;
    align-items: center;
    

}

.body {
    background-color: #f0f0f0;
}