.card-container {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.breadcrumb {
    font-size: 14px;
    margin-bottom: 1em;
    color: #555; }

.form__error {
    color: red;
}

.card-info {
    display: flex;    
}

.card-info__img--group{
    width: 250px;
    
}

.card-info__content{
    display: flex;
    gap: 4px;

}

.description {
    margin-top: 12px;
 }

/* .card-info__img {

} */

.card-info__tag {
    font-weight: bold;
}


